<div *ngIf="event" class="container container-small">
  <div>
    <h1 class="text-center">Event Edit</h1>
        <span *ngIf="error" id="error">{{ error }}</span><br/>
    <div class="form-group">
      <label>Activity Id: </label>
      <app-event-dropdown></app-event-dropdown>
    </div>
    <div class="form-group">
      <label>Start Date: </label>
      <input class="form-control" type="datetime-local" [(ngModel)]="event.eventFrom" placeholder="EventFrom">
    </div>
    <div class="form-group">
      <label>End Date: </label>
      <input class="form-control" type="datetime-local" [(ngModel)]="event.eventTo" placeholder="EventTo">
    </div>
    <div class="form-group">
      <label>Is Active: </label>
      <input style="display: inline;" type="checkbox" [(ngModel)]="event.isActive" placeholder="isActive">
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" (click)="goBack()">Back</button>
    <button class="btn btn-success" (click)="save()">Save</button> 
  </div>
</div>