<button class="delete" (click)="add(); $event.stopPropagation()">Add</button>

<table *ngIf="activities" border="1">
  <thead>
    <tr>
      <th>Creation Date</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of activities; let i=index;" (click)="onSelect(a)" [class.selected]="a === selected"> 
      <td><time>{{a.creationDate | amDateFormat: 'YYYY-MM-DD hh:mmA'}}</time></td>
      <td>{{a.description}}</td>
      <td>
        <button class="delete" (click)="edit(a); $event.stopPropagation()">Edit</button>
        <button class="delete" (click)="delete(a); $event.stopPropagation()">Delete</button>
      </td>
    </tr>
  </tbody>
</table>