<nav class="navbar navbar-default" id="menu">
  <div class="navbar-header">
    <a class="navbar-brand" href="home">Zenith Society</a>
  </div>


  <ul class="nav navbar-nav">
    <li><a routerLink="/home">Home</a></li>
    <li *ngIf="loggedIn == true && adminRole == true"><a routerLink="/events">Events</a></li>
    <li *ngIf="loggedIn == true && adminRole == true"><a routerLink="/activities">Activities</a></li>
    <li *ngIf="loggedIn == true && adminRole == true"><a href="http://comp4976zenithsociety2.azurewebsites.net/Roles">Roles</a></li>
    <li *ngIf="loggedIn == true && adminRole == true"><a href="http://comp4976zenithsociety2.azurewebsites.net/UserRoles">User Roles</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right" style="margin-right: 2px;">
    <li *ngIf="loggedIn == true"><a href="#">Hello {{username}}!</a></li>
    <li *ngIf="loggedIn == true"><a routerLink="/logout">Logout</a></li>
    <li *ngIf="loggedIn == false"><a routerLink="/register">Register</a></li>
    <li *ngIf="loggedIn == false"><a routerLink="/login">Login</a></li>
  </ul>
</nav>

<div class="container container-small">
  <div>
    <h1 class="text-center">Add Activity</h1>
        <span *ngIf="error" id="error">{{ error }}</span><br/>
    <div class="form-group">
      <label>Description: </label>
      <input class="form-control" type="text" [(ngModel)]="newActivity.description" placeholder="Description">
    </div>
  <div class="text-center">
    <button class="btn btn-primary" (click)="goBack()">Back</button>
    <button class="btn btn-success" (click)="add(newActivity)">Add</button> 
  </div>
</div>