<nav class="navbar navbar-default" id="menu">
  <div class="navbar-header">
    <a class="navbar-brand" href="home">Zenith Society</a>
  </div>


  <ul class="nav navbar-nav">
    <li><a routerLink="/home">Home</a></li>
    <li *ngIf="loggedIn == true && adminRole == true"><a routerLink="/events">Events</a></li>
    <li *ngIf="loggedIn == true && adminRole == true"><a routerLink="/activities">Activities</a></li>
    <li *ngIf="loggedIn == true && adminRole == true"><a routerLink="/roles">Roles</a></li>
    <li *ngIf="loggedIn == true && adminRole == true"><a routerLink="/users">User Roles</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right" style="margin-right: 2px;">
    <li *ngIf="loggedIn == true"><a href="#">Hello {{username}}!</a></li>
    <li *ngIf="loggedIn == true"><a routerLink="/logout">Logout</a></li>
    <li *ngIf="loggedIn == false"><a routerLink="/register">Register</a></li>
    <li *ngIf="loggedIn == false"><a routerLink="/login">Login</a></li>
  </ul>
</nav>

<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <span id="error">{{ error?.error_description }}</span><br/>

        <label>Username: </label>
        <input class="form-control" [(ngModel)]="login.username" placeholder="Username">
        <label>Password: </label>
        <input class="form-control" type="password" [(ngModel)]="login.password" placeholder="Password">
        <br/>
        <div class="text-center">
            <button class="btn btn-primary" (click)="login(login)">Login</button> 
        </div>
    </div>
</div>