<nav class="navbar navbar-default" id="menu">
  <div class="navbar-header">
    <a class="navbar-brand" href="home">Zenith Society</a>
  </div>


  <ul class="nav navbar-nav">
    <li><a routerLink="/home">Home</a></li>
    <li *ngIf="loggedIn == true && role == 'Admin'"><a routerLink="/events">Events</a></li>
    <li *ngIf="loggedIn == true && role == 'Admin'"><a routerLink="/activities">Activities</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right" style="margin-right: 2px;">
    <li *ngIf="loggedIn == true"><a href="#">Hello {{username}}!</a></li>
    <li *ngIf="loggedIn == true"><a routerLink="/logout">Logout</a></li>
    <li *ngIf="loggedIn == false"><a routerLink="/register">Register</a></li>
    <li *ngIf="loggedIn == false"><a routerLink="/login">Login</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
