<table *ngIf="events" border="1">
  <thead>
    <tr>
      <th>Created By</th>
      <th>Creation Date</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Activity Description</th>
      <th>Is Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of events; let i=index;" (click)="onSelect(c)" [class.selected]="c === selected"> 
      <td>{{e.enteredBy}}</td>
      <td><time>{{e.creationDate | amDateFormat: 'YYYY-MM-DD hh:mmA'}}</time></td>
      <td><time>{{e.eventFrom | amDateFormat: 'YYYY-MM-DD hh:mmA'}}</time></td>
      <td><time>{{e.eventTo | amDateFormat: 'YYYY-MM-DD hh:mmA'}}</time></td>
      <td>{{e.activity.description}}</td>
      <td><input type="checkbox" [disabled]="true" [(ngModel)]="e.isActive" /></td>
      <td>
        <button class="delete" (click)="edit(e); $event.stopPropagation()">Edit</button>
        <button class="delete" (click)="delete(e); $event.stopPropagation()">Delete</button>
      </td>
    </tr>
  </tbody>
</table>