<div class="container">
  <h1 class="text-center">Events</h1>

  <table id="table" *ngIf="events" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Created By</th>
        <th class="text-center">Creation Date</th>
        <th class="text-center">Start Date</th>
        <th class="text-center">End Date</th>
        <th class="text-center">Activity Description</th>
        <th class="text-center">Is Active</th>
        <th class="text-center"><button class="btn btn-primary" (click)="add(); $event.stopPropagation()">Add</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of events; let i=index;"> 
        <td>{{e.enteredBy}}</td>
        <td><time>{{e.creationDate+ "-08:00" | amDateFormat: 'YYYY-MM-DD h:mmA'}}</time></td>
        <td><time>{{e.eventFrom | amDateFormat: 'YYYY-MM-DD h:mmA'}} </time></td>
        <td><time>{{e.eventTo | amDateFormat: 'YYYY-MM-DD h:mmA'}}</time></td>
        <td>{{e.activity.description}}</td>
        <td><input type="checkbox" [disabled]="true" [(ngModel)]="e.isActive" /></td>
        <td class="text-center">
          <button class="btn btn-success" (click)="edit(e); $event.stopPropagation()">Edit</button>
          <button class="btn btn-danger" (click)="delete(e); $event.stopPropagation()">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>